/*
#This site must be Responsive
## Mobile devices  : ... - 480px
## iPads / Tablets : 481px - 1200px
## Laptops         : 1201px - 1600px
## Desktops        : 1601px - ...


# Color Pallete
##Backround color: black

## Navigation Bar
### Backround color: #0b1939 (Dark Blue)
### Text Color: white
### Banner Backround color: linear gradient 135: #d4dbef, #ffffff
### On hover: #ff751f

# font-families
## Navigation Bar 
### ARKOLEON JR: HK Modular
### Links: Telegraf



## Main text
### Hi, I'm Arkoleon: HK Grotesk
*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}

.menu-bar {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #0b1939;
    align-items: center;
    border-bottom: 1px solid #18301a;
}

.logo-section {
    flex-basis: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-bg {
    width: 120px;
    height: 180px;
    background: white;
    background: linear-gradient(150deg,rgb(243, 243, 243) 50%, rgba(133, 177, 204, 1) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.flag-icon {
    width: 80px;
    height: auto;
    object-fit: contain;
}

.content-section {
    flex-basis: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-title {
    font-size: 28pt;
    font-family: 'Hanken Grotesk', sans-serif;
    color: rgb(229, 229, 229);
    margin-left: 0; 
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: lightgray;
    font-size: 16pt;
    font-weight: 50;
    font-family: 'Space Grotesk', sans-serif;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e63946;
}

.spacer-section {
    background-color: #0b1939;
    flex-basis: 16%;
}