/*
#This site must be Responsive
## Mobile devices  : ... - 480px
## iPads / Tablets : 481px - 1200px
## Laptops         : 1201px - 1600px
## Desktops        : 1601px - ...


# Color Pallete
##Backround color: black

## Navigation Bar
### Backround color: #0b1939 (Dark Blue)
### Text Color: white
### Banner Backround color: linear gradient 135: #d4dbef, #ffffff
### On hover: #ff751f

# font-families
## Navigation Bar 
### ARKOLEON JR: HK Modular
### Links: Telegraf



## Main text
### Hi, I'm Arkoleon: HK Grotesk
*/

@font-face {
    font-family: 'orbitronFont';
    src: url('../Fonts/orbitron-v35-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'jetbrainFont';
    src: url('../Fonts/jetbrains-mono-v24-greek_latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoFont';
    src: url('../Fonts/roboto-mono-v31-greek_latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}

.menu-bar {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #0b1939;
    align-items: center;
    border-bottom: 1px solid #18301a;
}

.logo-section {
    flex-basis: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-bg {
    width: 120px;
    height: 180px;
    background: white;
    background: linear-gradient(150deg,rgb(243, 243, 243) 50%, rgba(133, 177, 204, 1) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.flag-icon {
    width: 80px;
    height: auto;
    object-fit: contain;
}

.content-section {
    flex-basis: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-title {
    font-size: 28pt;
    font-family: 'orbitronFont', sans-serif;
    color: rgb(229, 229, 229);
    margin-left: 0; 
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    color: lightgray;
    font-size: 16pt;
    font-weight: 50;
    font-family: 'jetbrainFont', sans-serif;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e63946;
}

.spacer-section {
    background-color: #0b1939;
    flex-basis: 16%;
}

.introduction {
    display: grid;
    align-items: center;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    padding-left: 16%;
    padding-right: 16%;
    border-bottom: 1px solid #e63946;
}

.iam{
    font-size: 24pt;
    color:lightgray;
}

.iam-arkoulis {
    font-family: 'robotoFont';
    color: rgb(229, 229, 229);
    font-size: 56pt;
    color:#e63946;
    font-weight: 900;
}

.profile-picture > img {
    height: auto;
    width: 80%;
    margin-left: auto;
    display: block;
    border-radius: 50%;
}